@model DwadTestRp.Models.UserCreationRequest

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-4">Full Name</dt>
          <dd class="col-sm-8">@Model.FullName</dd>

          <dt class="col-sm-4">Email</dt>
          <dd class="col-sm-8">@Model.Email</dd>

          <dt class="col-sm-4">Role</dt>
          <dd class="col-sm-8">@Model.Role</dd>

          <dt class="col-sm-4">Office</dt>
          <dd class="col-sm-8">@Model.OfficeId</dd>

          <dt class="col-sm-4">Requested By</dt>
          <dd class="col-sm-8">@Model.RequestedBy</dd>

          <dt class="col-sm-4">Date Requested</dt>
          <dd class="col-sm-8">@Model.DateRequested.ToLocalTime()</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button id="approveBtn" data-id="@Model.RequestId" class="btn btn-success">Approve</button>
        <button id="rejectBtn" data-id="@Model.RequestId" class="btn btn-danger">Reject</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
